<h1>Accueil</h1>

<%= link_to "Auteurs", auteurs_path %><br />
<%= link_to "Oeuvres", oeuvres_path %><br />
<%= link_to "Passages", passages_path %><br />
<%= link_to "Genres", genres_path %><br />
<%= link_to "Thèmes", themes_path %><br />
<%= link_to "Lienthèmes", lienthemes_path %><br />