<%= link_to('users/new') do %><%= image_tag 'promo1.jpg', :class => 'imagepromo' %><% end %>
<div class = "promo">Découvrez <%= @cours%> cours vidéo en ligne accessibles à volonté !</div><br>

<%= link_to('users/new') do %><%= image_tag 'promo2.jpg', :class => 'imagepromo' %><% end %>
<div class = "promo">Tout le programme de français collège et lycée ! </div><br>

<%= link_to('users/new') do %><%= image_tag 'promo4.jpg', :class => 'imagepromo' %><% end %>
<div class = "promo">Une qualité égale sur tous les contenus ! </div><br>

<%= link_to('users/new') do %><%= image_tag 'promo3.jpg', :class => 'imagepromo' %><% end %>
<div class = "promo">Abonnement à 9€50 par mois, le prix d'un DVD ! </div><br>

<%= link_to('accueil/visite') do %>
<div class = "bouton">
Visite guidée</div>
<% end %>

<%= link_to('accueil/bio') do %>
<div class = "bouton">
Qui suis-je ?</div>
<% end %>

<%= link_to('users/new') do %>
<div class = "bouton">
Je m'inscris !</div>
<% end %>